/* document css */

/* ///////////main_documentコンテンツ/////////// */
#file_btn, #url_btn {
  margin-bottom: 40px;
  padding: 10px;
  margin-left: 40px;
  float: left;
  cursor: pointer;
}
#file_btn:hover, #url_btn:hover {
  color: #4682b4;
  transition: all 0.4s;
}
.up_area {
  margin: 60px 0;
  text-align: center;
}
  /* ///////////file_document/////////// */
  .current_file_url {
    background-color: #d3d3d3;
    color: #696969;
    border-radius: 10px;
  }


  #file_document {
    display: block;
    width: 724px;
    margin: 20px auto;
    clear: both;
  }
  .file_area {
    overflow: hidden;
    padding: 0 20px;
    margin: 20px auto;
    width: 684px;

    background-color: #d3d3d3;
    color: #2f4f4f;
    border-radius: 10px;
  }
  .file_area h3 {
    margin: 15px;
    line-height:40px;
    float: left;
    text-decoration: underline;
    font-size: 1.4em;
    color: #6a5acd;
  }
  .file_area h3:hover {
    transition: all 0.4s;
    opacity: 0.6;
    cursor: pointer;
  }
  .file_area h3 i {
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.4em;
  }
  .file_area p  {
    line-height: 40px;
    float: left;
    margin-left: 40px;
    font-weight: bold;
    font-size: 1.0em;
  }
  #file_document dt {
    margin-right: 20px;
  }
  /* ///////////file_document/////////// */
  /* ///////////url_document/////////// */
  #url_document {
    display: block;
    width: 724px;
    margin: 20px auto;
    clear: both;
  }
  #url_document dt, #url_document dd {
    margin-left: 20px;
  }
  #url_document dt {
    margin-left: 40px;
  }
  #submit_url {
    margin-top: 30px;
    width: 6em;
  }
  .url_area {
    overflow: hidden;
    padding: 0 20px;
    margin: 20px auto;
    width: 684px;

    background-color: #d3d3d3;
    color: #2f4f4f;
    border-radius: 10px;
  }
  .url_area h3 {
    margin: 15px;
    line-height:40px;
    font-size: 1.2em;
    color: #6a5acd;
  }
  .url_area h3:hover {
    transition: all 0.4s;
    opacity: 0.6;
    cursor: pointer;
  }
  .url_area h3 i {
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  .url_area h3 a {
    text-decoration: underline;
    color: #6a5acd;
  }
  .url_area p {
    margin-left: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 1.0em;
  }
  /* ///////////url_document/////////// */
/* ///////////main_documentコンテンツ/////////// */

/* The creator of this code is Kojima Naoyuki */