/* idead css */

/* ///////////main_ideadコンテンツ/////////// */

.idead_text_area {
  padding: 0 20px;
  margin: 20px auto;
  width: 684px;

  background-color: #d3d3d3;
  color: #2f4f4f;
  border-radius: 10px;
}
.idead_text_area h3 {
  font-size: 1.4em;
  text-decoration: underline;
}

.idead_text_area p {
  font-weight: bold;
  line-height: 35px;
  font-size: 1.0em;
}

.idead_input_area {
  margin: 0 auto;
  width: 684px;
  text-align: center;
}
.idead_input_area textarea {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
.idead_input_area #submit_idead {
  width: 84px;
  margin: 10px 0 20px 500px;
}
/* ///////////main_ideadコンテンツ/////////// */

/* The creator of this code is Kojima Naoyuki */